/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background-color: black;
    font-family: arial;
}



section {
    background-color: white;
    width: 1310px;
    margin: auto;
}



h1 {
    font-size: 40px;
    color: #007D7B;
    padding: 40px;
}


main {
    size: 40px;
}

li :hover {
    color: #007D7B;
}

nav .top {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #007D7B;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
}

figcaption{
    font-size: 16px;
    color: white;
    float: left;
    position: absolute;

}

.topleft {
    color: black;

}

.bottomright {
    color: white;
    bottom: 0;
    right: 0;
    position: absolute;
}

.bottomleft{
    color: white;
    bottom: 0;
    left: 0;
    position: absolute;
}

figure  {
    display: inline-flex;
    align-content: center;
    position: relative;
}



h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align-last: right;

}

.p1 {
    text-align: right; 
    font-size: 20px;   
}



h3 {
    font-size: 40px;
    color: black;
    clear: both;
    padding: 10px;
    text-transform: uppercase;
}

#contact {
    color: white;
    text-align: left;
    position: absolute;
}

.tk {
    float: left;
}

.form {
    background-color: black;
    color: white;
}

input {
    width: 850px;
    color: #007D7B;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 7px auto;
    padding:  5px;
    
}


